// @font-face {
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
//          url("../assets/fonts/Montserrat-Regular.woff") format("woff");
// }

// @font-face {
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
//          url("../assets/fonts/Montserrat-Medium.woff") format("woff");
// }

// @font-face {
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
//          url("../assets/fonts/Montserrat-SemiBold.woff") format("woff");
// }

// @font-face {
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
//          url("../assets/fonts/Montserrat-Bold.woff") format("woff");
// }

// @font-face {
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 800;
//     font-display: swap;
//     src: url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
//          url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
// }

$font-1: "Montserrat", "Segoe UI", sans-serif;

$primary: #3f4ce7;
$secondary: #363b3e;
$test: #0d5daa;
$white: #fff;
$gray: #555;
$blue: #0060e6;
